h4,h5,td,th,h6,ng-template,label,table,button{
    font-family: 'prompt' !important;
}
.inplace{
    justify-content: flex-end !important;
    right:10px !important;
    left: unset !important;
}
label{
    font-size: 20px;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
.footer button{
    padding: 3px 40px;
    font-size: 18px;
    cursor: pointer;
}