h1,h5,th,td,button{
    font-family: 'prompt' !important;
}
h1{
    font-size: 36px;;
}
i {
    font-size: 24px;
}
h5,th{
    font-size: 24px;
}
td{
    font-size: 18px;
}
table{
    width: 100%;
}

.inplace{
    justify-content: flex-end;
    right:10px;
    left: unset;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
.footer button{
    padding: 3px 40px;
    font-size: 18px;
    cursor: pointer;
}
